In [2]:
import pandas as pd
df = pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin1')
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [11]:
df['Customer Name'] = df['Customer Fname'] + ' ' + df['Customer Lname']
df['Customer Name'].head()

0       Cally Holloway
1           Irene Luna
2    Gillian Maldonado
3            Tana Tate
4       Orli Hendricks
Name: Customer Name, dtype: object

In [12]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'Customer Name'],
      dtype='object')

In [90]:
columns = ['Order Id', 'Type', 'Order Status', 'order date (DateOrders)', 'Sales', 'Market', 'Order Item Discount Rate', 'Order Item Quantity',
           'Category Id', 'Category Name', 
           'Days for shipping (real)', 'Days for shipment (scheduled)', 'Delivery Status', 'Shipping Mode',
           'Customer Id', 'Customer Country', 'Customer Name', 'Customer Segment',
           'Product Card Id', 'Product Name', 'Product Price'
           ]
# Table: Orders, Customers, Categories, Prouducts, Shipping, Time

In [91]:
df_res = df[columns]
df_res.head()

,Order Id,Type,Order Status,order date (DateOrders),Sales,Market,Order Item Discount Rate,Order Item Quantity,Category Id,Category Name,...,Days for shipment (scheduled),Delivery Status,Shipping Mode,Customer Id,Customer Country,Customer Name,Customer Segment,Product Card Id,Product Name,Product Price
0,77202,DEBIT,COMPLETE,1/31/2018 22:56,327.75,Pacific Asia,0.04,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,20755,Puerto Rico,Cally Holloway,Consumer,1360,Smart watch,327.75
1,75939,TRANSFER,PENDING,1/13/2018 12:27,327.75,Pacific Asia,0.05,1,73,Sporting Goods,...,4,Late delivery,Standard Class,19492,Puerto Rico,Irene Luna,Consumer,1360,Smart watch,327.75
2,75938,CASH,CLOSED,1/13/2018 12:06,327.75,Pacific Asia,0.06,1,73,Sporting Goods,...,4,Shipping on time,Standard Class,19491,EE. UU.,Gillian Maldonado,Consumer,1360,Smart watch,327.75
3,75937,DEBIT,COMPLETE,1/13/2018 11:45,327.75,Pacific Asia,0.07,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19490,EE. UU.,Tana Tate,Home Office,1360,Smart watch,327.75
4,75936,PAYMENT,PENDING_PAYMENT,1/13/2018 11:24,327.75,Pacific Asia,0.09,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19489,Puerto Rico,Orli Hendricks,Corporate,1360,Smart watch,327.75

In [92]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Order Id                       180519 non-null  int64
 1   Type                           180519 non-null  object
 2   Order Status                   180519 non-null  object
 3   order date (DateOrders)        180519 non-null  object
 4   Sales                          180519 non-null  float64
 5   Market                         180519 non-null  object
 6   Order Item Discount Rate       180519 non-null  float64
 7   Order Item Quantity            180519 non-null  int64
 8   Category Id                    180519 non-null  int64
 9   Category Name                  180519 non-null  object
 10  Days for shipping (real)       180519 non-null  int64
 11  Days for shipment (scheduled)  180519 non-null  int64
 12  Delivery Status                180519 non-null  object
 13  Shipping Mode                  180519 non-null  object
 14  Customer Id                    180519 non-null  int64
 15  Customer Country               180519 non-null  object
 16  Customer Name                  180511 non-null  object
 17  Customer Segment               180519 non-null  object
 18  Product Card Id                180519 non-null  int64
 19  Product Name                   180519 non-null  object
 20  Product Price                  180519 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 28.9+ MB

In [93]:
df_res.dropna(inplace=True)
df_res.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180511 entries, 0 to 180518
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Order Id                       180511 non-null  int64
 1   Type                           180511 non-null  object
 2   Order Status                   180511 non-null  object
 3   order date (DateOrders)        180511 non-null  object
 4   Sales                          180511 non-null  float64
 5   Market                         180511 non-null  object
 6   Order Item Discount Rate       180511 non-null  float64
 7   Order Item Quantity            180511 non-null  int64
 8   Category Id                    180511 non-null  int64
 9   Category Name                  180511 non-null  object
 10  Days for shipping (real)       180511 non-null  int64
 11  Days for shipment (scheduled)  180511 non-null  int64
 12  Delivery Status                180511 non-null  object
 13  Shipping Mode                  180511 non-null  object
 14  Customer Id                    180511 non-null  int64
 15  Customer Country               180511 non-null  object
 16  Customer Name                  180511 non-null  object
 17  Customer Segment               180511 non-null  object
 18  Product Card Id                180511 non-null  int64
 19  Product Name                   180511 non-null  object
 20  Product Price                  180511 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 30.3+ MB

C:\Users\DELL\AppData\Local\Temp\ipykernel_12460\4151468271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_res.dropna(inplace=True)

In [94]:
df_res.head()

,Order Id,Type,Order Status,order date (DateOrders),Sales,Market,Order Item Discount Rate,Order Item Quantity,Category Id,Category Name,...,Days for shipment (scheduled),Delivery Status,Shipping Mode,Customer Id,Customer Country,Customer Name,Customer Segment,Product Card Id,Product Name,Product Price
0,77202,DEBIT,COMPLETE,1/31/2018 22:56,327.75,Pacific Asia,0.04,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,20755,Puerto Rico,Cally Holloway,Consumer,1360,Smart watch,327.75
1,75939,TRANSFER,PENDING,1/13/2018 12:27,327.75,Pacific Asia,0.05,1,73,Sporting Goods,...,4,Late delivery,Standard Class,19492,Puerto Rico,Irene Luna,Consumer,1360,Smart watch,327.75
2,75938,CASH,CLOSED,1/13/2018 12:06,327.75,Pacific Asia,0.06,1,73,Sporting Goods,...,4,Shipping on time,Standard Class,19491,EE. UU.,Gillian Maldonado,Consumer,1360,Smart watch,327.75
3,75937,DEBIT,COMPLETE,1/13/2018 11:45,327.75,Pacific Asia,0.07,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19490,EE. UU.,Tana Tate,Home Office,1360,Smart watch,327.75
4,75936,PAYMENT,PENDING_PAYMENT,1/13/2018 11:24,327.75,Pacific Asia,0.09,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19489,Puerto Rico,Orli Hendricks,Corporate,1360,Smart watch,327.75

In [95]:
df_res.columns

Index(['Order Id', 'Type', 'Order Status', 'order date (DateOrders)', 'Sales',
       'Market', 'Order Item Discount Rate', 'Order Item Quantity',
       'Category Id', 'Category Name', 'Days for shipping (real)',
       'Days for shipment (scheduled)', 'Delivery Status', 'Shipping Mode',
       'Customer Id', 'Customer Country', 'Customer Name', 'Customer Segment',
       'Product Card Id', 'Product Name', 'Product Price'],
      dtype='object')

In [96]:
df_res = df_res.rename(columns={'Order Item Discount Rate':'discount_rate', 'Order Item Quantity': 'product_quantity', 'order date (DateOrders)': 'order_date', 'Days for shipping (real)': 'day_shipping_real', 'Days for shipment (scheduled)':'day_shipment_scheduled', 'Product Card Id': 'product_id'})

In [97]:
df_res.columns

Index(['Order Id', 'Type', 'Order Status', 'order_date', 'Sales', 'Market',
       'discount_rate', 'product_quantity', 'Category Id', 'Category Name',
       'day_shipping_real', 'day_shipment_scheduled', 'Delivery Status',
       'Shipping Mode', 'Customer Id', 'Customer Country', 'Customer Name',
       'Customer Segment', 'product_id', 'Product Name', 'Product Price'],
      dtype='object')

In [98]:
df_res.columns = df_res.columns.str.lower().str.replace(' ', '_')
df_res

,order_id,type,order_status,order_date,sales,market,discount_rate,product_quantity,category_id,category_name,...,day_shipment_scheduled,delivery_status,shipping_mode,customer_id,customer_country,customer_name,customer_segment,product_id,product_name,product_price
0,77202,DEBIT,COMPLETE,1/31/2018 22:56,327.750000,Pacific Asia,0.04,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,20755,Puerto Rico,Cally Holloway,Consumer,1360,Smart watch,327.750000
1,75939,TRANSFER,PENDING,1/13/2018 12:27,327.750000,Pacific Asia,0.05,1,73,Sporting Goods,...,4,Late delivery,Standard Class,19492,Puerto Rico,Irene Luna,Consumer,1360,Smart watch,327.750000
2,75938,CASH,CLOSED,1/13/2018 12:06,327.750000,Pacific Asia,0.06,1,73,Sporting Goods,...,4,Shipping on time,Standard Class,19491,EE. UU.,Gillian Maldonado,Consumer,1360,Smart watch,327.750000
3,75937,DEBIT,COMPLETE,1/13/2018 11:45,327.750000,Pacific Asia,0.07,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19490,EE. UU.,Tana Tate,Home Office,1360,Smart watch,327.750000
4,75936,PAYMENT,PENDING_PAYMENT,1/13/2018 11:24,327.750000,Pacific Asia,0.09,1,73,Sporting Goods,...,4,Advance shipping,Standard Class,19489,Puerto Rico,Orli Hendricks,Corporate,1360,Smart watch,327.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,26043,CASH,CLOSED,1/16/2016 3:40,399.980011,Pacific Asia,0.00,1,45,Fishing,...,4,Shipping on time,Standard Class,1005,EE. UU.,Maria Peterson,Home Office,1004,Field & Stream Sportsman 16 Gun Fire Safe,399.980011
180515,26037,DEBIT,COMPLETE,1/16/2016 1:34,399.980011,Pacific Asia,0.01,1,45,Fishing,...,2,Late delivery,Second Class,9141,EE. UU.,Ronald Clark,Corporate,1004,Field & Stream Sportsman 16 Gun Fire Safe,399.980011
180516,26024,TRANSFER,PENDING,1/15/2016 21:00,399.980011,Pacific Asia,0.02,1,45,Fishing,...,4,Late delivery,Standard Class,291,EE. UU.,John Smith,Corporate,1004,Field & Stream Sportsman 16 Gun Fire Safe,399.980011
180517,26022,PAYMENT,PENDING_PAYMENT,1/15/2016 20:18,399.980011,Pacific Asia,0.03,1,45,Fishing,...,4,Advance shipping,Standard Class,2813,Puerto Rico,Mary Smith,Consumer,1004,Field & Stream Sportsman 16 Gun Fire Safe,399.980011
180518,26018,PAYMENT,PENDING_PAYMENT,1/15/2016 18:54,399.980011,Pacific Asia,0.04,1,45,Fishing,...,4,Shipping on time,Standard Class,7547,Puerto Rico,Andrea Ortega,Consumer,1004,Field & Stream Sportsman 16 Gun Fire Safe,399.980011

In [99]:
df_res.columns

Index(['order_id', 'type', 'order_status', 'order_date', 'sales', 'market',
       'discount_rate', 'product_quantity', 'category_id', 'category_name',
       'day_shipping_real', 'day_shipment_scheduled', 'delivery_status',
       'shipping_mode', 'customer_id', 'customer_country', 'customer_name',
       'customer_segment', 'product_id', 'product_name', 'product_price'],
      dtype='object')

In [100]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180511 entries, 0 to 180518
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                180511 non-null  int64
 1   type                    180511 non-null  object
 2   order_status            180511 non-null  object
 3   order_date              180511 non-null  object
 4   sales                   180511 non-null  float64
 5   market                  180511 non-null  object
 6   discount_rate           180511 non-null  float64
 7   product_quantity        180511 non-null  int64
 8   category_id             180511 non-null  int64
 9   category_name           180511 non-null  object
 10  day_shipping_real       180511 non-null  int64
 11  day_shipment_scheduled  180511 non-null  int64
 12  delivery_status         180511 non-null  object
 13  shipping_mode           180511 non-null  object
 14  customer_id             180511 non-null  int64
 15  customer_country        180511 non-null  object
 16  customer_name           180511 non-null  object
 17  customer_segment        180511 non-null  object
 18  product_id              180511 non-null  int64
 19  product_name            180511 non-null  object
 20  product_price           180511 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 30.3+ MB

In [101]:
df_res.to_csv('DataCoSupplyChainDataset_Done.csv', index=False)